body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.index{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;

}
.filter{
 padding:20px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}
.index{
  background-color: ;
  border-radius: 8px;
 
}
img{
  border-radius: 5px;
  background-color: wheat;
  float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;

}
.title{
  font-family: serif;
  text-align: center;
  background-color: ;

}
*{
  scroll-behavior:smooth;
  max-width: 100%;

}
  
  
input{
  background-color: wheat;
  border: wheat ;
  border-radius: 2px;
  width: 200px;
  height: 50px;
}
h1{
  padding: 20px;
  padding-top: 0;
  font-style: italic;
  
}
a{
  text-decoration: none;
}
.Card{
  border: 2px solid;
  background-color: wheat;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  
}
.tit{
  background-color: burlywood;
  padding-top: 20px;

}